.explore-city {
    max-width: 1200px;
    min-height: 60vh;
    background: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    h3 {
        font-size: 2rem;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    &__article {
        text-align: left;
        max-width: 550px;
        h4 {
            color: $page-yellow;
            margin: 0 0 25px 0;
            font-size: 1.5rem;
        }
    }
    &__btn {
        display: block;
        text-decoration: none;
        background: $page-yellow;
        width: 130px;
        height: 40px;
        text-align: center;
        border-radius: 25px;
        line-height: 35px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 15px;
        color: #000;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: #fff;
            background: #000;
        }
    }
    &__city-image {
        width: 350px;
        height: 350px;
        position: relative;
        border-right: 8px solid $page-yellow;
        border-bottom: 8px solid $page-yellow;
        position: relative;
        margin-top: 29px;
        img {
            position: absolute;
            top: -30px;
            left: -30px;
        }
    }
    @media only screen and (max-width: 985px) {
        &__article {
            margin: 0 20px;
            max-width: 800px;
            width: 80%;
            text-align: center;
            h2,
            p {
                text-align: left;
            }
        }
        &__city-image {
            max-width: 800px;
            width: 85%;
            height: 250px;
            border: none;
            margin-top: 20px;
            background: {
                image: url("http://placehold.it/795x250");
                position: center;
                size: cover;
                repeat: no-repeat;
            }
            &:before {
                content: '';
                position: absolute;
                width: 97%;
                height: 250px;
                bottom: -25px;
                right: -25px;
                border-right: 8px solid $page-yellow;
                border-bottom: 8px solid $page-yellow;
            }
            img {
                display: none;
            }
        }
    }
    @media only screen and (max-width:830px) {
        &__city-image {
            &:before {
                border: none;
                width: 1px;
                height: 1px;
            }
            height: 231px;
            border: 2px solid $page-yellow;
            max-width: 90%;
            border: 4px solid $page-yellow;
            background-image: url("http://placehold.it/747x231");
        }
    }
    @media only screen and (max-width:500px) {
        &__city-image {
            height: 139px;
            background-image: url("http://placehold.it/450x139");
        }
    }
}
