.discover {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: -150px;
    position: relative;
    text-align: center;
    &:before {
        content: "Popular places to discover";
        color: #fff;
        display: block;
        font-weight: 300;
        position: relative;
        top: -25px;
    }
    .gallery {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        &__item {
            list-style: none;
            cursor: pointer;
            height: 250px;
            min-width: 210px;
            background: {
                repeat: no-repeat;
                position: center;
                size: contain;
            }
            position: relative;
            margin: 0px 7px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            &:nth-child(1) {
                background-image: url('../images/wroclaw.jpg');
            }
            &:nth-child(2) {
                background-image: url('../images/zakopane.jpg');
            }
            &:nth-child(3) {
                background-image: url('../images/krakow.jpg');
            }
            &:nth-child(4) {
                background-image: url('../images/sandomierz.jpg');
            }
            &:nth-child(5) {
                background-image: url('../images/warszawa1.jpg');
            }
            &:nth-child(6) {
                background-image: url('../images/sopot.jpg');
            }
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                transition: all .25s ease-in-out;
            }
            span {
                width: 100%;
                text-align: center;
                transition: all .25s ease-in-out;
                background: rgba(0, 0, 0, 0.5);
                transform: translateY(-25px);
            }
            &:hover,
            &:focus {
                .city-name {
                    font-size: 2.2rem;
                }
                span {
                    transform: translateY(-85px);
                    background: transparent;
                }
                &:before {
                    background-color: rgba(0, 0, 0, 0.75);
                    border: none;
                }
            }
        }
        &__btn {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &__city-name {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
        }
        &__city-province {
            color: $page-yellow;
            font: {
                size: 1rem;
                weight: 300;
            }
        }
    }
    @media only screen and (max-width: 1350px) {
        margin-top: 0;
        background: {
            image: url('../images/journey-background.jpeg');
            position: center;
            size: cover;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
        }
        .gallery {
            width: 75%;
            margin: 0 auto;
            flex-wrap: wrap;
            &__item {
                margin: 10px;
                width: 45%;
                background-size: cover;
            }
        }
    }
    @media only screen and (max-width: 1200px) {
        .gallery {
            width: 85%;
            &__item {
                width: 45%;
            }
        }
    }
    @media only screen and (max-width: 900px) {
        .gallery {
            width: 100%;
            &__item {
                margin: 0;
                width: 50%;
            }
        }
    }
    @media only screen and (max-width: 420px) {
        .gallery__item {
            min-width: 120px;
            height: 230px;
        }
    }
}
