//* {
//    outline: 1px solid lime
//}
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background: #fff;
}

section {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.text-orange {
    color: $page-orange;
}

button {
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    text-align: center;
    color: #000;
    background-color: $page-yellow;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s ease-in-out;
    &:focus {
        color: #fff;
        background: rgba(0, 0, 0, 0.55);
    }
    &:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.55);
    }
}
