//* {
//    outline: 1px solid lime
//}
body {
    font-family: 'Lato', sans-serif;
}

section {
    width: 100%;
}

h1 {
    margin: 0;
}

.text-orange {
    color: $page-orange;
}

button {
    text-transform: uppercase;
    border: none;
    border-radius: 1.4rem;
    color: #000;
    background-color: $page-yellow;
    cursor: pointer;
    &:focus {
        outline-color: #fff;
    }
}
