.sign {
    margin-top: 50px;
    width: 100%;
    min-height: 70vh;
    background: {
        image: url(../images/signup.jpg);
        position: center;
        size: cover;
    }
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .sign-up {
        margin: 0;
        text-align: center;
        &__heading {
            font-size: 4rem;
        }
        &__btn {
            width: 120px;
            margin: 20px 0px;
            line-height: 35px;
        }
        .text-yellow-underscored {
            text-decoration: underline;
            color: $page-yellow;
            cursor: pointer;
        }
    }
    @media only screen and (max-width: 600px) {
        .sign-up__heading {
            font-size: 3rem;
        }
    }
    @media only screen and (max-width: 450px) {
        .sign-up__heading {
            font-size: 2.5rem;
        }
    }
}
